{% extends "blog/base.html" %}

{% block content %}

    <h1>About</h1>
    <p>Hi, my name is Mitchell Carroll and this is my personal about page.</p>
    <h2>Background</h2>
    <p>I grew up in Havelock, Quebec. I received my Computer Science degree from the Royal Military College of Canada and have served 13 years in the Canadian Air Force.</p>
    <h2>Interests</h2>
    <p>In my free time, I enjoy [Interest 1], [Interest 2], and [Interest 3]. I am also an avid [Hobby] enthusiast.</p>
    <h2>Contact</h2>
    <p>You can contact me at [Email] or follow me on [Social Media].</p>

{% endblock content %}
