{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"d M Y" }}</small>
                </div>
                <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                <p class="article-content">{{ post.content }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ image.alt_text }}">
                    <br>
                {% endif %}
            </div>
        </article>
    {% endfor %}

    {% if user.is_authenticated %}
        <button class="btn btn-primary mb-4" onclick="goToLink()" style="float: left;";>New Post</button>
        <div></div>

        <script>
            function goToLink() {window.location.href = "{% url 'post-create' %}";}
        </script>
    {% endif %}

    {% if is_paginated %}
        <div class="d-flex justify-content-center">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4 mx-2" href="?page=1">1</a> 
            {%  if page_obj.number > 3 %}
                <pre>__  </pre>  
            {% endif %}
        {% endif %}

        

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4 mx-2" href="?page={{num}}">{{num}} </a>
            {% elif num > page_obj.number|add:"-2" and num < page_obj.number|add:"2" and num != 1 and num != page_obj.paginator.num_pages%}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            {%  if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
                <pre>  __</pre>
            {% endif %}
            <a class="btn btn-outline-info mb-4 mx-2" href="?page={{ page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
            {% endif %}
        </div>         
    {% endif %}

    



{% endblock content %}
